SITE_ADDRESS=http://localhost
PUBLIC_SITE_URL=http://localhost
POSTGRES_DB=lilaohan
POSTGRES_USER=lilaohan
POSTGRES_PASSWORD=请替换为高强度数据库密码
APP_KEYS=请填写四个以英文逗号分隔的随机密钥
API_TOKEN_SALT=请填写随机密钥
ADMIN_JWT_SECRET=请填写随机密钥
TRANSFER_TOKEN_SALT=请填写随机密钥
JWT_SECRET=请填写随机密钥
ENCRYPTION_KEY=请填写随机密钥
